#parallax {
    /* The image used */
    background-image: url("https://cdn.glitch.com/a9975ea6-8949-4bab-addb-8a95021dc2da%2Fillustration.svg?v=1618177344016");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #matto{
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 200px 0;
  }
  .subheading{
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  
  .sectionPart{
     font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
  }
  
  .containerA{
    text-align: center;
  }
  
  .containerList{
    display: inline-block;
    text-align: left;
  }
#card{
    width: 300px;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
}