#parallax {
  /* The image used */
  background-image: url("Little Bird Toy Co Site Photos-20250605T224935Z-1-001/imgs/block2.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#matto {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 200px 0;
}
.subheading {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.sectionPart {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
}

.containerA {
  text-align: center;
  justify-content: center;
}

.containerList {
  display: inline-block;
  text-align: left;
}

.navbarimg {
  height: 30%;
  width: 30%;
}

.socialmedia {
  height: 1px;
  width: 1px;
}
.body {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 200px 0;
}

#parallax2 {
  /* The image used */
  background-image: url("Little Bird Toy Co Site Photos-20250605T224935Z-1-001/imgs/block1.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax3 {
  /* The image used */
  background-image: url("Little Bird Toy Co Site Photos-20250605T224935Z-1-001/imgs/block3.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax4 {
  /* The image used */
  background-image: url("Little Bird Toy Co Site Photos-20250605T224935Z-1-001/imgs/block1.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax5 {
  /* The image used */
  background-image: url("Little Bird Toy Co Site Photos-20250605T224935Z-1-001/imgs/block3.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pg-section {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 200px 0;
  justify-content: center;
}

.SMI {
  width: 50px;
  height: 50px;
}

/*
.card{
  padding: 0px 100px;
  justify-content: center;
  text-align: center;
}
.cards-row {
  display: flex;
  justify-content: center;
  gap: 2rem; 
  flex-wrap: wrap; 
}
*/
/* space between cards */
/* allows wrapping on smaller screens */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
  gap: 20px; /* Add spacing between cards */
}

.card {
  box-sizing: border-box; /* Ensure padding/borders don't affect width */
}